<!-- views/updateUser.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include("partials/errors.ejs") %>
    <form action="/<%= user.id %>/update" method="POST">
      <label for="firstName">First Name: </label> <br />

      <input
        type="text"
        name="firstName"
        value="<%= user.firstName %>"
        required
      /><br />
      <label for="lastName">Last Name:</label> <br />
      <input
        type="text"
        name="lastName"
        value="<%= user.lastName %>"
        required
      />
      <br />

      <label for="email">Email: </label>
      <br />
      <input
        type="email"
        name="email"
        value="<%= user.email %>"
        id="email"
        required
      /><br />

      <label for="age">Age: </label><br />
      <input type="number" name="age" value="<%= user.age %>" id="age" /><br />

      <label for="bio">Bio:</label> <br />
      <textarea name="bio" id="bio"><%= user.bio %></textarea> <br />

      <button type="submit">Update User</button>
    </form>
    <a href="/">Back to home</a>
  </body>
</html>
