<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search User results</title>
  </head>
  <body>
    <a href="/">Home</a>

    <div>
      <h1>Search Results</h1>
      <h3>
        Results for search term: <%= locals.searchTermName||
        locals.searchTermEmail%>
      </h3>

      <p>
        <span><em>Name: </em></span><%=locals.users?.firstName || "Not Found"%>
        <%=locals.users?.lastName || ""%>
      </p>
      <p>
        <span><em>E-Mail: </em></span> <%=locals.users?.email || "Not Found" %>
      </p>
      <p>
        <span><em>Age: </em></span> <%=locals.users?.age || "Not Found"%>
      </p>
      <p>
        <span><em>Bio: </em></span> <%=locals.users?.bio || "Not Found"%>
      </p>
    </div>
  </body>
</html>
